<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancemanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViewActivity.ListOfStudent"></activity>
        <activity android:name=".ViewActivity.ManageStudent"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.ManageRecordStudent"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.ManageRecordStudent"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.ManageDates"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.ManageDates"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.ManageListChooseCourse"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewActivity.Report"
            android:label="Sign up"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.Settings"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.ManageListChooseCourse"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.Attendance"
            android:configChanges="orientation"
            android:parentActivityName=".ViewActivity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewActivity.HomeActivity" />
        <activity android:name=".ViewActivity.Sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>